body{
    text-align: center;
}
#mycarousel-inner{
    width: 1800px;
    height: 500px;
}

#ironman{
    width: 500px;
    height: 300px;
}
#ironman-text{
   font-size: 40px;
}

#hulk{
    width: 500px;
    height: 300px;
}
#hulk-text{
   font-size: 40px;
}
#blackpanther{
    width: 500px;
    height: 300px;
}
#blackpanther-text{
   font-size: 40px;
}
#thanos{
    width: 500px;
    height: 300px;
}
#thanos-text{
   font-size: 40px;
}
#captainamerica{
    width: 500px;
    height: 300px;
}
#captainamerica-text{
    font-size: 40px;
    
}
#docterstrange{
 width: 500px;
height: 300px;
}
#docterstrange-text{
    font-size: 40px;
}
#thor{
 width: 500px;
height: 300px;
}
#thor-text{
    font-size: 40px;
}


#ironman-2{
    width: 500px;
    height: 300px;
}


#hulk-2{
    width: 500px;
    height: 300px;
}


#blackpanther-2{
    width: 500px;
    height: 300px;
}


#captainamerica-2{
    width: 500px;
    height: 300px;
}

#docterstrange-2{
 width: 500px;
height: 300px;
}

#thor-2{
 width: 500px;
height: 300px;
}

#warmachine{
 width: 500px;
height: 300px;
}



#rocketracoon{
 width: 500px;
height: 300px;
}
#starlord{
    width: 500px;
    height: 300px;
}

#captainmarvel{
    width: 500px;
    height: 300px;
}

#scarletwicth{
    width: 500px;
    height: 300px;
}

#falcon{
    width: 500px;
    height: 300px;
}




#loki{
    width: 500px;
    height: 300px;
}
#redskull{
    width: 500px;
    height: 300px;
}
#mysterio{
    width: 500px;
    height: 300px;
}
#surtur{
    width: 500px;
    height: 300px;
}
#kilmonger{
    width: 500px;
    height: 300px;
}
#ironmonger{
    width: 500px;
    height: 300px;
}
#whiplash{
    width: 500px;
    height: 300px;
}
#ultron{
    width: 500px;
    height: 300px;
}
#hela{
    width: 500px;
    height: 300px;
}
#dormammu{
    width: 500px;
    height: 300px;
}
#thanos-2{
    width: 500px;
    height: 300px;
}
#kaecilius{
    width: 500px;
    height: 300px;
}

ironman video-1{
    width: 300px;
    height: 200px;
}









